* {
  padding: 0px;
  margin: 0px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  text-transform: capitalize;
}
body {
  background-color: #001;
  display: flex;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile h2 {
  font-size: 20px;
}

.img-box {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgb(255, 255, 255);
  flex-shrink: 0;
}
.img-box img {
  width: 100%;
}
.sidebar {
  background-color: rgb(37, 41, 63);
  width: 50px;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  transition: 0.5s;
  position: fixed; /* تثبيت المنيو على اليسار */
  top: 0;
  left: 0;
  bottom: 0; /* حتى يغطي كل الطول */
}

/*  */
ul {
  list-style: none;
  position: relative;
  height: 95%;
}
ul li a {
  display: block;
  text-decoration: none;
  /* background-color: rgb(29, 23, 70); */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 40px;
  transition: 0.5s;
}
ul li a:hover,
.active,
.box:hover,
td:hover {
  background-color: #ffffff55;
}

.log-out {
  border-radius: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.log-out a {
  background-color: #a00;
}

ul li a i {
  font-size: 30px;
}
.sidebar:hover {
  width: 260px;
}
ul {
  list-style: none;
  position: relative;
  height: 95%;
}
ul li a {
  display: block;
  text-decoration: none;
  /* background-color: rgb(29, 23, 70); */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 40px;
  transition: 0.5s;
}

ul li a:hover,
.active,
.data-info .box:hover,
td:hover {
  background-color: #ffffff55;
}
/* 
.log-out {
  border-radius: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.log-out a {
  background-color: #a00;
}

ul li a i {
  font-size: 30px;
} */

/* Posts.css */

.content {
  width: 100%;
  background-color: rgb(12, 25, 39);
  margin-left: 100px;
  margin-right: 10px;
  padding: 20px;
  margin-top: 80px;
  border-radius: 8px;
}
.content h1 {
  margin-bottom: 40px;
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 8px;
  /* color: #001; */
}
table caption {
  width: 100%;
  height: 30px;
  background-color: #66a9eb;
  border-radius: 8px;
  font-size: 22px;
}

table thead th {
  position: static;
  top: 0;
  background-color: #0481ff; /* لازم تخليه حتى يظهر فوق الصفوف */
  z-index: 10;
}

td,
th {
  background-color: #192430;
  border-radius: 6px;
  padding: 8px;
}

th {
  background-color: #0481ff;
  transition: 0.5s;
}

