/* Products.css */

* {
  padding: 0px;
  margin: 0px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  text-transform: capitalize;
}
body {
  background-color: #123;
  display: flex;

}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile h2 {
  font-size: 20px;
}

.img-box {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgb(255, 255, 255);
  flex-shrink: 0;
}
.img-box img {
  width: 100%;
}

.sidebar {
  background-color:rgb(37, 41, 63);
  width: 50px;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  transition: 0.5s;

  position: fixed; /* تثبيت المنيو على اليسار */
  top: 0;
  left: 0;
  bottom: 0;
}
/* 
ul {
  list-style: none;
  position: relative;
  height: 95%;
} */

/* .sidebar a {
  display: block;
  color: #ccc;
  padding: 10px 15px;
  text-decoration: none;
} */

.sidebar:hover {
  width: 260px;
}
/* .sidebar a.active {
  background-color: #69e76d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #575757;
  color: white;
} */

/* .header {
  background-color: #ab2e2e;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-left: 200px;
}

.header h2 {
  margin: 0;
} */

main {
  width: 100%;
  margin-left: 100px;   /* حتى يكون مكان للمنيو */
  margin-top: 100px;
}
ul {
  list-style: none;
  position: relative;
  height: 95%;
}
ul li a {
  display: block;
  text-decoration: none;
  /* background-color: rgb(29, 23, 70); */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 40px;
  transition: 0.5s;
}
ul li a:hover,
.active,
.data-info .box:hover,
td:hover {
  background-color: #ffffff55;
}

.log-out {
  border-radius: 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.log-out a {
  background-color: #a00;
}

ul li a i {
  font-size: 30px;
}


main h1{
    margin-bottom: 70px;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 10px;
  
    /* color: #001; */
    
}
table caption{
    border-radius: 8px;
    height: 40px;
    font-weight: bold;
    font-size: 22px;
    background-color: #0481ff;
}

.table-container {
  max-height: 400px;    /* اختياري، ارتفاع منطقة الجدول */
  overflow-y: auto; 
  margin-top: 5px;    /* يخلي سكرول عمودي */
}

table thead th {
 
  top: 0;
  background-color: #0481ff;  /* لازم تخليه حتى يظهر فوق الصفوف */
  z-index: 10;
 
}

td ,th{
background-color: #192430;
border-radius: 6px;
padding: 8px;
}

th{

    background-color:#0481ff ;
    transition: .5s;
}
.price, .count{
 padding: 6px;   
border-radius: 6px;

}

